<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简易聊天室</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{url_for('static', filename='css/spectre.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/spectre-icons.css')}}">
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/js.cookie.js')}}"></script>
    <style>
        #github{margin-top: 10px}
    </style>
</head>
<body>
<script type="text/javascript" src="/static/js/mouse.js" opacity= 0.6></script>
<div class="container">
    <div class="columns">
        <div class="column col-8 col-mx-auto">
            <header class="navbar">
                <section class="centered">
                    <div class="navbar-brand mr-2"><h2><a href="https://github.com/zh19990906/Simple_chats"><img src="/static/images/github.png" width="35" height="34" title="获取源码" id="github"></a>简易聊天室</h2></div>
                </section>
            </header>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
</body>
</html>